services:
  - type: web
    name: your-django-app
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn osamh_ahmed_al.wsgi:application"
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: "3.9.0"